.ball {
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.ball > div {
  border-radius: 50%;
  height: 100%;
  position: absolute;
  width: 100%;
}

.ball > div > span {
  background: #fff;
  border-radius: 50%;
  font-weight: bold;
  height: 60%;
  left: 50%;
  line-height: 175%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}
