/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */

@import 'tailwindcss/utilities';
@import 'background-cell.css';
@import 'ball.css';

.debug * {
  box-shadow: 0 0 1px red;
}

.text-shadow-white {
  text-shadow: 1px 1px 0 white;
}

.visually-hidden {
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  white-space: nowrap; /* added line */
}

.w-1\/10 {
  width: calc(100% / 9);
}
