/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */

@import 'tailwindcss/utilities';

.debug * {
  box-shadow: 0 0 1px red;
}

.poroto {
  background-image: url(./poroto.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.text-shadow-white {
  text-shadow: 1px 1px 0 white;
}
