/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */

@import 'tailwindcss/utilities';

.debug * {
  box-shadow: 0 0 1px red;
}

.poroto {
  background-image: url(./poroto.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.text-shadow {
  text-shadow: 1px 1px 0 white;
}

.title-letter:nth-child(1) {
  transform: scale(1.3);
}

.title-letter:nth-child(2) {
  transform: scale(1.15);
}

.title-letter:nth-child(4) {
  transform: scale(1.15);
}

.title-letter:nth-child(5) {
  transform: scale(1.3);
}
