rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Test rules only. This is not a copy of the deployed security rules.
    match /rooms/{roomId} {
      allow read, write: if true;
      match /players/{playerId} {
        allow read, write: if true;
      }
    }
  }
}
